@font-face {
  font-family: 'h1Font';
  src: url(/assets/AnnieUseYourTelescope-Regular.ttf);
}

@font-face {
  font-family: 'h2Font';
  src: url(/assets/insolata.ttf);
}

body {
  background-color: #151553;
  font-weight: normal;
  background-size: cover;
}

h1 {
  font-family: 'h1Font';
  font-weight: 0;
  text-align: center;
  color: #F5F5F5;
  font-size: 2.4em;
  border: 0;
  padding-top: 1em;
  margin-bottom: 0.3em;
  font-style: normal;
  font-variant: normal;
}

h2 {
  font-family: 'h1Font';
  font-weight: 100;
  font-style: normal;
  text-transform: uppercase;
  color: #FFEAB1;
  font-size: 1.8em;
  margin: 0em;
  text-align: center;
}

@media (max-width: 1150px) {
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.4em;
  }
  li {
    font-size: 0.8em;
    padding: 0em 0.4em;
  }
  .menu {
    padding-top: 0.2em;
  }
}

@media (max-width: 670px) {
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.4em;
  }
  li {
    font-size: 0.8em;
    padding: 0em 0.4em;
  }
  .menu {
    padding-top: 0.2em;
  }
}

.header {
  position: relative;
  text-align: center;
}

.header .subTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5em;
  margin-top: 1em;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.94);
            transform: scale(0.94);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.94);
            transform: scale(0.94);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.94);
            transform: scale(0.94);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.94);
            transform: scale(0.94);
  }
}

.hide-header {
  -webkit-animation: backOutUp;
          animation: backOutUp;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.hide-header-full {
  display: none;
}

.show-header {
  -webkit-animation: fadeIn;
          animation: fadeIn;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  12% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  12% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes pulse2 {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse2 {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.closeButton {
  width: 20px;
  float: right;
  cursor: pointer;
  margin: 14px;
  opacity: 0;
}

.show-menu {
  display: block;
  -webkit-animation: slide-menu 0.7s ease-in forwards;
          animation: slide-menu 0.7s ease-in forwards;
}

.show-menu .closeButton {
  -webkit-animation: show-x 0.8s 0.6s forwards;
          animation: show-x 0.8s 0.6s forwards;
}

.show-menu li:nth-of-type(1) {
  -webkit-animation: menu-item-anim .6s forwards 1s ease-in-out;
          animation: menu-item-anim .6s forwards 1s ease-in-out;
}

.show-menu li:nth-of-type(2) {
  -webkit-animation: menu-item-anim .6s forwards 1.2s ease-in-out;
          animation: menu-item-anim .6s forwards 1.2s ease-in-out;
}

.show-menu li:nth-of-type(3) {
  -webkit-animation: menu-item-anim .6s forwards 1.4s ease-in-out;
          animation: menu-item-anim .6s forwards 1.4s ease-in-out;
}

.show-menu li:nth-of-type(4) {
  -webkit-animation: menu-item-anim .6s forwards 1.6s ease-in-out;
          animation: menu-item-anim .6s forwards 1.6s ease-in-out;
}

.close-menu {
  display: block;
  -webkit-animation: slide-menu-out 0.6s ease-out forwards;
          animation: slide-menu-out 0.6s ease-out forwards;
}

@-webkit-keyframes slide-menu {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes slide-menu {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes slide-menu-out {
  from {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  to {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes slide-menu-out {
  from {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  to {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@-webkit-keyframes show-x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show-x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes menu-item-anim {
  from {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 0.95;
  }
}

@keyframes menu-item-anim {
  from {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 0.95;
  }
}

.background {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

.back_no_light {
  background-image: url("../images/PortfolioBack4_nolights.png");
}

.clouds {
  background-image: url("../images/Clouds.png");
  background-repeat: repeat-x;
  -webkit-animation: slideClouds;
          animation: slideClouds;
  -webkit-animation-duration: 43s;
          animation-duration: 43s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.backMask {
  background-image: url("../images/backMask.png");
}

.deepSky {
  background-image: url("../images/deepSky.png");
  -webkit-animation: waving-stars  2s ease-in-out infinite;
          animation: waving-stars  2s ease-in-out infinite;
}

.stars {
  background-image: url("../images/SecondStars.png");
  -webkit-animation: waving-stars  6s ease-in-out infinite;
          animation: waving-stars  6s ease-in-out infinite;
}

.light_1 {
  background-image: url("../images/2YellowLights.png");
  -webkit-animation: waving-light 41s infinite;
          animation: waving-light 41s infinite;
}

.light_2 {
  background-image: url("../images/YellowLight+.png");
  -webkit-animation: waving-light 32s infinite;
          animation: waving-light 32s infinite;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

.light_3 {
  background-image: url("../images/redLight.png");
  -webkit-animation: waving-redlight  4s ease-in-out infinite;
          animation: waving-redlight  4s ease-in-out infinite;
}

.reverb {
  background-image: url("../images/reverberes.png");
  -webkit-animation: waving-reverb  1s ease-in-out infinite;
          animation: waving-reverb  1s ease-in-out infinite;
}

.orangeLight {
  background-image: url("../images/orangeLight.png");
  -webkit-animation: waving-light  55s infinite;
          animation: waving-light  55s infinite;
}

.downLeftLight {
  background-image: url("../images/downLeftLight.png");
  -webkit-animation: waving-orangelight 47s infinite;
          animation: waving-orangelight 47s infinite;
}

.smallOrangeLight {
  background-image: url("../images/smallOrangeLight.png");
  -webkit-animation: waving-orangelight 47s infinite;
          animation: waving-orangelight 47s infinite;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

@-webkit-keyframes slideClouds {
  0% {
    right: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  33% {
    right: 5%;
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  75% {
    left: 1%;
    -webkit-transform: translateX(1%);
            transform: translateX(1%);
  }
  100% {
    right: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideClouds {
  0% {
    right: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  33% {
    right: 5%;
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  75% {
    left: 1%;
    -webkit-transform: translateX(1%);
            transform: translateX(1%);
  }
  100% {
    right: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes waving-redlight {
  0% {
    opacity: 0.6;
  }
  20% {
    opacity: 0.7;
  }
  40% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes waving-redlight {
  0% {
    opacity: 0.6;
  }
  20% {
    opacity: 0.7;
  }
  40% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

@-webkit-keyframes waving-orangelight {
  0% {
    opacity: 0;
  }
  32% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  86% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes waving-orangelight {
  0% {
    opacity: 0;
  }
  32% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  86% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes waving-light {
  0% {
    opacity: 1;
  }
  34% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes waving-light {
  0% {
    opacity: 1;
  }
  34% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes waving-stars {
  0% {
    opacity: 0.3;
  }
  45% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes waving-stars {
  0% {
    opacity: 0.3;
  }
  45% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

@-webkit-keyframes waving-deep {
  0% {
    opacity: 0.95;
  }
  35% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0.95;
  }
}

@keyframes waving-deep {
  0% {
    opacity: 0.95;
  }
  35% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0.95;
  }
}

@-webkit-keyframes waving-reverb {
  0% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes waving-reverb {
  0% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.4;
  }
}

@media (max-width: 1023px) and (orientation: landscape) {
  .back_no_light {
    background-image: url("../images/PortfolioBack4_nolights_ipad.png");
  }
  .clouds {
    background-image: url("../images/CloudsIpad.png");
    background-repeat: repeat-x;
    -webkit-animation: slideClouds;
            animation: slideClouds;
    -webkit-animation-duration: 43s;
            animation-duration: 43s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .backMask {
    background-image: url("../images/backMaskipad.png");
    display: none;
  }
  .deepSky {
    background-image: url("../images/deepSky.png");
    -webkit-animation: waving-stars  2s ease-in-out infinite;
            animation: waving-stars  2s ease-in-out infinite;
  }
  .stars {
    background-image: url("../images/SecondStarsIpad.png");
    -webkit-animation: waving-stars  6s ease-in-out infinite;
            animation: waving-stars  6s ease-in-out infinite;
  }
  .light_1 {
    background-image: url("../images/2YellowLightsIpad.png");
    -webkit-animation: waving-light 41s infinite;
            animation: waving-light 41s infinite;
  }
  .light_2 {
    background-image: url("../images/YellowLightIpad.png");
    -webkit-animation: waving-light 32s infinite;
            animation: waving-light 32s infinite;
    -webkit-animation-delay: 15s;
            animation-delay: 15s;
  }
  .light_3 {
    background-image: url("../images/redLightIpad.png");
    -webkit-animation: waving-redlight  4s ease-in-out infinite;
            animation: waving-redlight  4s ease-in-out infinite;
  }
  .reverb {
    background-image: none;
  }
  .orangeLight {
    background-image: none;
    display: none;
    -webkit-animation: none;
            animation: none;
  }
  .downLeftLight {
    background-image: none;
    display: none;
    -webkit-animation: none;
            animation: none;
  }
  .smallOrangeLight {
    background-image: none;
    display: none;
    -webkit-animation: none;
            animation: none;
  }
}

.menu {
  padding-top: 0.3em;
  font-family: 'h1Font';
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1.9em;
  color: lightgrey;
}

.menu li {
  cursor: pointer;
  -webkit-animation: pulse 1.7s ease-in-out infinite;
          animation: pulse 1.7s ease-in-out infinite;
}

ul {
  text-align: center;
  margin: 0 auto 0 auto;
  padding: 0 1em 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
  width: 40%;
}

li {
  font-family: 'h1Font';
  -webkit-animation: show-x;
          animation: show-x;
  text-align: center;
  padding: 0 0.6em 0 0.6em;
  line-height: 1.5;
}

.work-overlay {
  width: calc(100% - 4em);
  height: calc(100vh - 4em);
  padding: 1.6em;
  position: absolute;
  background-color: none;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  display: none;
  color: lightgray;
}

.show-work {
  display: block;
  -webkit-animation: pulse 0.7s ease-in forwards;
          animation: pulse 0.7s ease-in forwards;
}

.show-work .container {
  -webkit-animation: fadeIn 2.5s;
          animation: fadeIn 2.5s;
}

.show-work .container ul {
  text-align: center;
  margin: 0 auto 0 auto;
  padding: 4em 1em 0 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
  width: 95%;
}

.show-work .container li {
  background-color: #151553;
  opacity: 0.95;
  margin: 1em;
  padding: 1.9em 1.5em;
  border-radius: 7px;
  border-color: lightgrey;
  border: 3px;
}

.show-work .closeButton {
  -webkit-animation: show-x 0.8s 0.6s forwards;
          animation: show-x 0.8s 0.6s forwards;
}

.show-work p {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1em;
  color: lightgray;
  text-align: center;
  font-size: 1.1em;
}

.close-menu {
  display: block;
  -webkit-animation: fadeOut 1.6s ease-out forwards;
          animation: fadeOut 1.6s ease-out forwards;
}

.close-menu .container {
  -webkit-animation: fadeOut 2s forwards;
          animation: fadeOut 2s forwards;
}

.code-logo {
  width: 5em;
  height: 5em;
  fill: lightgrey;
  margin-bottom: 1.6em;
  opacity: 0.9;
}

.design-logo {
  width: 5em;
  height: 5em;
  fill: lightgrey;
  margin-bottom: 1.6em;
  opacity: 0.9;
}

.paint-logo {
  width: 5em;
  height: 5em;
  fill: lightgrey;
  margin-bottom: 1.6em;
  opacity: 0.9;
}

.chess-logo {
  width: 5em;
  height: 5em;
  fill: lightgrey;
  margin-bottom: 1.6em;
  opacity: 0.9;
}

@media (max-width: 770px) {
  .work-overlay {
    padding: 0em 1.6em;
  }
  .show-work .container h2 {
    margin-bottom: 1em;
  }
  .show-work .container ul {
    display: initial;
  }
  .show-work .container li {
    margin: 2em 1em;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .show-work .container .closeButton {
    margin: 8px;
  }
}

.hide-work {
  display: none;
}

.item-button-work {
  font-size: 1.2em;
  margin-top: 0.5em;
  cursor: pointer;
}

.item-button-work:hover {
  text-decoration: underline;
}

.portfolio-overlay {
  width: calc(100% - 4em);
  height: calc(100vh - 4em);
  padding: 2em;
  position: absolute;
  background-color: #151553;
  background-repeat: repeat-y;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  display: none;
  color: lightgray;
  opacity: 1;
  height: 100%;
  background-size: cover;
}

.show-portfolio {
  display: block;
  -webkit-animation: slide-menu 0.7s ease-in forwards;
          animation: slide-menu 0.7s ease-in forwards;
}

.show-portfolio .closeButton {
  -webkit-animation: show-x 0.8s 0.6s forwards;
          animation: show-x 0.8s 0.6s forwards;
}

.show-portfolio h1, .show-portfolio h2 {
  -webkit-animation: fadeIn 4.5s;
          animation: fadeIn 4.5s;
  opacity: 1;
}

.show-portfolio h1 {
  padding-top: 0.4em;
}

.show-portfolio h2 {
  margin: 0.5em 0;
}

.show-portfolio .container {
  color: lightgray;
}

.show-portfolio ul {
  margin-top: 5.5em;
}

.show-portfolio li {
  opacity: 0;
  padding: 0 1.2em;
}

.show-portfolio li:nth-of-type(1) {
  -webkit-animation: menu-item-anim .6s forwards 1s ease-in-out;
          animation: menu-item-anim .6s forwards 1s ease-in-out;
}

.show-portfolio li:nth-of-type(2) {
  -webkit-animation: menu-item-anim .6s forwards 1.2s ease-in-out;
          animation: menu-item-anim .6s forwards 1.2s ease-in-out;
}

.show-portfolio li:nth-of-type(3) {
  -webkit-animation: menu-item-anim .6s forwards 1.4s ease-in-out;
          animation: menu-item-anim .6s forwards 1.4s ease-in-out;
}

.show-portfolio li:nth-of-type(4) {
  -webkit-animation: menu-item-anim .6s forwards 1.6s ease-in-out;
          animation: menu-item-anim .6s forwards 1.6s ease-in-out;
}

.show-portfolio li:nth-of-type(5) {
  -webkit-animation: menu-item-anim .6s forwards 1.8s ease-in-out;
          animation: menu-item-anim .6s forwards 1.8s ease-in-out;
}

.show-portfolio .portfolio-container {
  padding-bottom: 0em;
}

.show-portfolio .portfolio-container img {
  width: 12em;
  height: 12em;
  border-radius: 6px;
  cursor: pointer;
}

.show-portfolio .portfolio-container p {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  font-family: 'h2Font';
}

.close-menu {
  display: block;
  -webkit-animation: slide-menu-out 0.6s ease-out forwards;
          animation: slide-menu-out 0.6s ease-out forwards;
  height: 100%;
}

.close-menu .container {
  display: none;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 520px) {
  ul {
    display: block;
  }
  .show-portfolio h1 {
    font-size: 1.7em;
  }
  .portfolio-container ul {
    margin: 3em 3em;
    display: initial;
  }
  .portfolio-container li {
    padding: 2em 1em;
  }
  .closeButton {
    width: 13px;
    float: right;
    cursor: pointer;
    margin: 0.2em;
    opacity: 0;
  }
  .portfolio-overlay {
    height: 500%;
  }
}

@media (max-width: 920px) {
  .portfolio-container ul {
    display: initial;
    margin: 3em;
  }
  .portfolio-container li {
    padding: 2em 1em;
  }
  .portfolio-overlay {
    height: 500%;
  }
}

.portfolio-item {
  width: calc(100% - 4em);
  height: calc(100vh - 4em);
  padding: 2em;
  position: absolute;
  background-color: #151553;
  background-repeat: repeat-y;
  background-size: cover;
  padding-bottom: 10em;
  display: none;
  height: 100%;
}

.show-portfolio-item {
  display: block;
}

.show-portfolio-item .closeButton {
  opacity: 1;
}

.show-portfolio-item li {
  color: lightgray;
  text-align: left;
  font-size: 1.5em;
  margin: 1em 0;
}

.show-portfolio-item h1 {
  padding-top: 0.5em;
  text-transform: uppercase;
}

.show-portfolio-item ul {
  display: block;
  width: 40%;
  margin: 2em 0;
}

.show-portfolio-item span {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.show-portfolio-item a {
  color: white;
  text-decoration: none;
}

.show-portfolio-item a:hover {
  text-decoration: underline;
}

.show-portfolio-item .hka-image {
  width: 38em;
  height: 27em;
  margin-top: 3em;
}

.show-portfolio-item .street-image {
  width: 42em;
  height: 27em;
  margin-top: 4em;
}

.show-portfolio-item .castaway-image {
  width: 30em;
  height: 30em;
  margin-top: 4em;
  margin-left: 5em;
}

.show-portfolio-item .midionze-image {
  width: 30em;
  height: 26em;
  margin-top: 4em;
  margin-left: 3em;
}

.show-portfolio-item .item-container {
  padding-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.show-portfolio-item .items-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.show-portfolio-item .item-button {
  padding-right: 1em;
  margin-top: 0;
}

.show-portfolio-item .item-button p {
  font-size: 0.9em;
  width: 100%;
  padding: 0.3em 0.5em;
}

.show-portfolio-item img {
  border-radius: 7px;
}

#street-adress {
  cursor: pointer;
}

@media (max-width: 930px) {
  .portfolio-item {
    height: 400%;
  }
  .show-portfolio-item .hka-image {
    width: 26em;
    height: 18em;
  }
  .show-portfolio-item .street-image {
    width: 42em;
    height: 27em;
    margin-top: 1em;
  }
  .show-portfolio-item .castaway-image {
    width: 30em;
    height: 30em;
  }
  .show-portfolio-item .midionze-image {
    width: 30em;
    height: 26em;
  }
  .show-portfolio-item img {
    margin-top: 2em;
    margin-left: 1em;
  }
}

@media (max-width: 770px) {
  .show-portfolio-item .item-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .show-portfolio-item .hka-image {
    margin-top: 0em;
  }
  .show-portfolio-item .midionze-image {
    width: 25em;
    height: 23em;
    margin-top: 0em;
    margin-left: 0em;
  }
  .show-portfolio-item li {
    color: lightgray;
    text-align: left;
    font-size: 1.3em;
    margin: 1em 0;
  }
  .show-portfolio-item ul {
    display: block;
    width: 80%;
    padding: 0em;
  }
  .show-portfolio-item .gallery {
    margin-left: 0em;
  }
  .show-portfolio-item img {
    margin-top: 2em;
    margin-left: 1em;
  }
}

@media (max-width: 540px) {
  .show-portfolio-item .hka-image {
    width: 20em;
    height: 14em;
  }
  .show-portfolio-item .street-image {
    width: 20em;
    height: 14em;
  }
  .show-portfolio-item .castaway-image {
    width: 20em;
    height: 20em;
    margin-left: 0em;
    margin-top: 1em;
  }
  .show-portfolio-item .midionze-image {
    width: 20em;
    height: 17em;
  }
  .show-portfolio-item .gallery {
    margin-left: 0em;
  }
  .show-portfolio-item img {
    margin-top: 1em;
    margin-left: 0em;
  }
  .show-portfolio-item ul {
    margin: 2em 0em 0em;
  }
}

@media (max-width: 351px) {
  .gallery {
    display: none;
  }
}

@media (max-width: 320px) {
  .show-portfolio-item .items-links {
    display: block;
  }
  .show-portfolio-item .item-button {
    padding: 1em 0em;
    margin: 0em;
  }
}

@media (min-width: 1500px) {
  .portfolio-item {
    height: 150%;
  }
  .show-portfolio-item .gallery {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0em;
  }
  .show-portfolio-item .item-container {
    display: block;
  }
  .show-portfolio-item ul {
    margin: 2em auto 0em auto;
  }
  .show-portfolio-item .hka-image {
    margin-left: 0em;
    margin-top: 0em;
  }
  .show-portfolio-item .street-image {
    margin-left: 0em;
    margin-top: 0em;
  }
  .show-portfolio-item .castaway-image {
    margin-left: 0em;
    margin-top: 0em;
  }
  .show-portfolio-item .midionze-image {
    margin-left: 0em;
    margin-top: 0em;
  }
}

.about-overlay {
  width: calc(100% - 4em);
  height: calc(100vh - 4em);
  padding: 1.3em;
  position: absolute;
  background-color: none;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  display: none;
  color: lightgray;
}

.about-overlay .container-about {
  background-color: #151553;
  margin-top: 3.5em;
  margin-left: 6em;
  width: 80%;
  border-radius: 5px;
  text-align: center;
}

.about-overlay .container-about .about-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2em;
}

.about-overlay a {
  text-decoration: none;
}

.about-overlay p {
  padding: 0 2.5em 1em 0em;
  font-family: 'h2Font';
  font-size: 1em;
  text-transform: uppercase;
  line-height: 1.3;
  text-align: left;
}

.about-overlay p span {
  cursor: pointer;
}

.about-overlay p span:hover {
  color: white;
  text-decoration: underline;
}

.about-overlay .face {
  width: 12em;
  height: 12em;
  margin: 2em 2em 1.5em;
  border-style: solid;
  opacity: 85%;
}

.show-about {
  display: block;
  -webkit-animation: pulse 0.7s ease-in forwards;
          animation: pulse 0.7s ease-in forwards;
}

.show-about .closeButton {
  -webkit-animation: show-x 0.8s 0.6s forwards;
          animation: show-x 0.8s 0.6s forwards;
}

.show-about .container {
  -webkit-animation: fadeIn 2.5s;
          animation: fadeIn 2.5s;
  color: lightgray;
}

.cv-button, .item-button {
  padding: 1em 0 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.cv-button p, .item-button p {
  padding: 0.5em;
  font-size: 1.2em;
  border-radius: 5px;
  border: 1px;
  border-style: solid;
  font-family: 'h1Font';
  color: lightgrey;
  background-color: #151553;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  width: 20%;
  text-align: center;
}

.cv-button p:hover, .item-button p:hover {
  background-color: lightgrey;
  color: #151553;
}

.close-menu {
  display: block;
  -webkit-animation: slide-menu-out 0.6s ease-out forwards;
          animation: slide-menu-out 0.6s ease-out forwards;
}

.close-menu .container {
  -webkit-animation: fadeOut 0.2s ease-out forwards;
          animation: fadeOut 0.2s ease-out forwards;
}

@media (max-width: 700px) {
  .about-overlay .container-about {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
  }
  .about-overlay .container-about .about-main {
    display: block;
  }
  .about-overlay .container-about .about-description {
    margin-left: 2em;
    font-size: 0.8em;
  }
  .about-overlay .container-about .cv-button p {
    font-size: 1em;
    width: 40%;
  }
  .about-overlay .face {
    width: 9em;
    height: 9em;
    margin: 0em 2em 2em;
  }
}

.contact-overlay {
  width: calc(100% - 4em);
  height: calc(100vh - 4em);
  padding: 1em;
  position: absolute;
  background-color: none;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  display: none;
  color: lightgray;
}

.contact-overlay .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.show-contact {
  display: block;
  -webkit-animation: pulse 0.7s ease-in forwards;
          animation: pulse 0.7s ease-in forwards;
}

.show-contact .closeButton {
  -webkit-animation: show-x 0.8s 0.6s forwards;
          animation: show-x 0.8s 0.6s forwards;
}

.show-contact .container {
  -webkit-animation: fadeIn 3.5s;
          animation: fadeIn 3.5s;
  color: lightgray;
}

.show-contact h1 {
  -webkit-animation: fadeIn 3s;
          animation: fadeIn 3s;
}

.close-menu {
  display: block;
  -webkit-animation: slide-menu-out 0.6s ease-out forwards;
          animation: slide-menu-out 0.6s ease-out forwards;
}

.close-menu .container {
  display: none;
}

.close-menu h1 {
  display: none;
}

.container-form {
  margin-top: 5em;
  margin-left: 6em;
  display: -ms-grid;
  display: grid;
  width: 30%;
  text-transform: uppercase;
  font-family: 'h1Font';
  display: none;
}

.container-form label {
  margin-bottom: 0.5em;
}

.container-form input {
  margin-bottom: 1em;
}

.container-form textarea {
  margin-bottom: 1em;
}

.container-form #subject {
  height: 1.6em;
}

.container-form #message {
  height: 12em;
}

.container-form .submit-button {
  font-family: 'h1Font';
  font-size: 1.2em;
  height: 2em;
  margin-top: 0.8em;
  background-color: #151553;
  color: lightgrey;
  border-radius: 5px;
  cursor: pointer;
  outline: none !important;
  text-align: center;
  height: auto;
  padding: 0.8em 0;
  -webkit-box-shadow: none  !important;
          box-shadow: none  !important;
}

.container-infos {
  text-align: center;
  background-color: #151553;
  border-radius: 12px;
  width: 70%;
  margin-left: auto;
  margin-top: 5em;
  padding-bottom: 6em;
  margin-bottom: 3em;
  margin-right: auto;
}

.container-infos svg {
  width: 3em;
  height: 3em;
  fill: lightgrey;
  margin-top: 2.5em;
}

.container-infos ul {
  width: 80%;
  text-align: center;
}

.container-infos ul p {
  font-size: 1.2em;
}

.container-infos ul li {
  margin-top: 4em;
}

.container-infos .social {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5em;
}

.container-infos .social svg {
  margin: 0 2em;
  width: 4em;
  height: 4em;
}

@media (max-width: 820px) {
  .container-infos .social {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 3em;
  }
  .container-infos .social svg {
    margin: 0 1.5em;
    width: 3em;
    height: 3em;
  }
}

@media (max-width: 670px) {
  .container-form {
    margin: 5em auto 5em auto;
    display: -ms-grid;
    display: grid;
    width: 100%;
  }
  .container-infos {
    margin-bottom: auto;
  }
  .container-infos ul {
    display: block;
  }
  .container-infos .social {
    text-align: center;
    display: block;
    margin-top: 3em;
  }
  .container-infos .social svg {
    margin: 1.5em 1.5em;
    width: 2.2em;
    height: 2.2em;
  }
}

@media (max-width: 570px) {
  .contact-overlay .container {
    display: block;
  }
  .container-form {
    width: 80%;
  }
  .container-infos {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    float: initial;
    display: block;
  }
}

@media (max-width: 350px) {
  .my-mail {
    display: none;
  }
}

.footer-overlay {
  padding: 2em;
  position: absolute;
  background-color: #151553;
  background-repeat: repeat-y;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  display: none;
  color: lightgray;
  opacity: 1;
  height: 300%;
  background-size: cover;
}

.footer-overlay .footer-container {
  background-color: #151553;
  border-radius: 2%;
  width: 90%;
  margin: 0em auto;
}

.footer-overlay .header {
  display: none;
}

.show-footer {
  display: block;
  -webkit-animation: slideInUp 0.7s ease-in forwards;
          animation: slideInUp 0.7s ease-in forwards;
}

.show-footer .closeButton {
  opacity: 1;
}

.footer {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: lightgrey;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  bottom: 0;
  width: 100%;
}

.footer ul {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0em;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer ul li {
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */