@font-face {
    font-family: 'h1Font';
    src: url(/assets/AnnieUseYourTelescope-Regular.ttf);
  }

  @font-face {
    font-family: 'h2Font';
    src: url(/assets/CaveatBrush-Regular.ttf);
  }

body {
    background-color: #1D2EC3;
    font-weight: normal;
    // background-image: url('/images/SecondStars.png'), url('/images/PortfolioBack4.png');
    background-size: cover;
    // background-repeat: no-repeat;
}

h1 {
    font-family: 'h1Font';
    font-weight: 0;
    text-align: center;
    color: #F5F5F5;
    font-size: 2.7em;
    border: 0;
    padding-top: 1em;
    margin-bottom: 0.3em;
    font-style: normal;
    font-variant: normal;
}


h2 {
    font-family: 'h1Font';
    font-weight: 100;
    font-style: normal;
    text-transform: uppercase;
    color: #FFEAB1;
    font-size: 1.8em;
    margin: 0em;
    text-align: center;
    // cursor: pointer;
    // animation-name: pulse;
    // animation-duration: 1s;
    // animation-iteration-count: infinite;
}


///
// HEADER
///


.header {
    position: relative;
    text-align: center;
    

.subTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
    margin-top: 1em;

    .menuSend {
        display: none;
        width: 1.8em;
        height: 1.8em;
        margin-top: 0em;
        margin-left: 0.3em;
        padding-left: 1em;
        cursor: pointer;
        animation-name: pulse;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }


    @keyframes pulse {
        0% {
            transform: scale(0.94);
        }
    
        70% {
            transform: scale(1.00);
        }
    
        100% {
            transform: scale(0.94);
        }
    }
}
}

.hide-header {
        animation: backOutLeft;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
}

.show-header {
    animation: fadeIn;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }

    12% {
        opacity:0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes fadeOut {
    0% {
        opacity:1;
    }

    12% {
        opacity:0.5;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}


///
// MENU
///


nav {
    width: calc(100% - 4em);
    height: calc(100vh - 4em);
    padding: 2em;
    position: absolute;
    background-image: url('../images/backOverlay.png');
    transform: scaleX(0);
    transform-origin: right;
    display: none;
}

ul {
    text-align: center;
    margin: 0 auto 0 auto;
    padding: 0 1em 0 1em;
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(4, 25%);
    width: 43%;
}

li {
    font-family: 'h1Font';
    animation: show-x;
    text-align: center;
    padding: 0 1em 0 1em;
    line-height: 1.5;
}

a {
    font-size: 2.4em;
    color: white;
    text-decoration: none;
}


@keyframes pulse2 {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

span {
    color: lightgray;
    display: block;
    margin-top: 2em;
    font-family: 'h1Font';
    font-size: 1.7em;
 }

.closeButton {
    width: 20px;
    float: right;
    cursor: pointer;
    margin: 14px;
    opacity: 0;  
}

.show-menu {
    display: block;
    animation: slide-menu 0.7s ease-in forwards;

    .closeButton {
        animation: show-x 0.8s 0.6s forwards;
    }
    
    li:nth-of-type(1) {
        animation: menu-item-anim .6s forwards 1s ease-in-out;
    }

    li:nth-of-type(2) {
        animation: menu-item-anim .6s forwards 1.2s ease-in-out;
    }

    li:nth-of-type(3) {
        animation: menu-item-anim .6s forwards 1.4s ease-in-out;
    }

    li:nth-of-type(4) {
        animation: menu-item-anim .6s forwards 1.6s ease-in-out;
    }
}

.close-menu {
    display: block;
    animation: slide-menu-out 0.6s ease-out forwards;
}


@keyframes slide-menu {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);

    }
}

@keyframes slide-menu-out {
    from {
        transform: scaleX(1);
    }
    to {
        transform: scaleX(0);

    }
}

@keyframes show-x {
    from {
        opacity: 0;
    }

    to {
        opacity:1;
    }  
}

@keyframes menu-item-anim {
    from {
        transform: translateY(50%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}


//
// BACKROUND ANIMATIONs
//


.background {
    position: fixed;
    top:0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}


.back_no_light {
    background-image: url("../images/PortfolioBack4_nolights.png");
    }

.clouds {
    background-image: url("../images/Clouds.png");
    animation: slideClouds;
    animation-duration: 43s;
    animation-iteration-count: infinite;
    }

.backMask {
    background-image: url("../images/backMask.png");
    }    

.deepSky {
    background-image:  url("../images/deepSky.png");
    animation: waving-stars  2s ease-in-out infinite;
}

.stars{
    background-image:  url("../images/SecondStars.png");
    animation: waving-stars  6s ease-in-out infinite;
    }

.light_1 {
    background-image: url("../images/2YellowLights.png");
    animation: waving-light 41s infinite;
    }

.light_2 {
    background-image: url("../images/YellowLight+.png");
    animation: waving-light 32s infinite;
    animation-delay: 15s;
    }

.light_3 {
    background-image: url("../images/redLight.png");
    animation: waving-redlight  4s ease-in-out infinite;
    }

.reverb {
    background-image: url("../images/reverberes.png");
    animation: waving-reverb  1s ease-in-out infinite;
}

.orangeLight {
    background-image: url("../images/orangeLight.png");
    animation: waving-light  55s infinite;
}

.downLeftLight {
    background-image: url('../images/downLeftLight.png');
    animation: waving-orangelight 47s infinite;
}

.smallOrangeLight {
    background-image: url('../images/smallOrangeLight.png');
    animation: waving-orangelight 47s infinite;
    animation-delay: 4s;
}

@keyframes slideClouds {
    0% {
        right: 0;
        transform: translateX(0);
      }
    33% {
        right: 5%;
        transform: translateX(-5%);
      }
    75% {
        left: 1%;
        transform: translateX(1%);
    }
    100% {
        right: 0;
        transform: translateX(0);
    } 
}


@keyframes waving-redlight {
    0% {
        opacity : 0.6;
    }

    20% {
        opacity: 0.7;
    }

    40% {
        opacity: 1;
    }

    65% {
        opacity: 1;
    }

    100% {
        opacity: 0.6;
    }

}

@keyframes waving-orangelight {
    0% {
        opacity : 0;
    }

    32% {
        opacity : 0;
    }

    33% {
        opacity: 1;
    }

    85% {
        opacity : 1;
    }

    86% {
        opacity : 0;
    }

    100% {
        opacity: 0;
    }

}

@keyframes waving-light {
    0% {
        opacity : 1;
    }

    34% {
        opacity: 1;
    }

    35% {
        opacity : 0;
    }

    65% {
        opacity : 0;
    }

    66% {
        opacity : 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes waving-stars {
    0% {
        opacity : 0.3;
    }

    45% {
        opacity: 1;
    }

    65% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}

@keyframes waving-deep {
    0% {
        opacity : 0.95;
    }

    35% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 0.95;
    }
}

@keyframes waving-reverb {
    0% {
        opacity : 0.4;
    }

    60% {
        opacity: 0.7;
    }

    100% {
        opacity: 0.4;
    }
}



// MENU 2



.menu {
    padding-top: 0.5em;
    font-family: 'h1Font';
        font-weight: 400;
        font-style: normal;
        text-transform: uppercase;
        font-size: 1.9em;
        color: lightgrey;
    
    li {
        cursor: pointer;
        animation-name: pulse;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }

}


// SHOW WORK



.work-overlay {
    width: calc(100% - 4em);
    height: calc(100vh - 4em);
    padding: 2em;
    position: absolute;
    background-color: #151553;
    transform: scaleX(0);
    transform-origin: right;
    display: none;
    color: lightgray;
}


.show-work {
    display: block;
    animation: slide-menu 0.7s ease-in forwards;

    .container {
        animation: fadeIn 4.5s;
        

    ul {
        text-align: center;
        margin: 0 auto 0 auto;
        padding: 5em 1em 0 1em;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        width: 90%;
    }

    li {
        background-color: #304b9b;
        margin: 1em;
        padding: 1.9em 1.5em;
        border-radius: 2%;
    }
    
}

    .closeButton {
        animation: show-x 0.8s 0.6s forwards;
    }

    p { 
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 1em;
        color: lightgray;
        text-align: center;
        font-size: 1.1em;
    }

    h1 {
        text-align: center;
    }
}

.close-menu {
    display: block;
    animation: slide-menu-out 0.6s ease-out forwards;

    .container {
        animation: fadeOut 0.2s ease-out forwards
    }
}

.code-logo {
    width: 5em;
    height: 5em;
    fill: lightgrey;
    margin-bottom: 1.6em;
}

.design-logo {
    width: 5em;
    height: 5em;
    fill: lightgrey;
    margin-bottom: 1.6em;
}

.paint-logo {
    width: 5em;
    height: 5em;
    fill: lightgrey;
    margin-bottom: 1.6em;
}

.chess-logo {
    width: 5em;
    height: 5em;
    fill: lightgrey;
    margin-bottom: 1.6em;
}

// SHOW PORTFOLIO



.portfolio-overlay {
    width: calc(100% - 4em);
    height: calc(100vh - 4em);
    padding: 2em;
    position: absolute;
    background-color: #151553;
    transform: scaleX(0);
    transform-origin: right;
    display: none;
    color: lightgray;
}


.show-portfolio {
    display: block;
    animation: slide-menu 0.7s ease-in forwards;

    .closeButton {
        animation: show-x 0.8s 0.6s forwards;
    }

    .container { 
        animation: fadeIn 4.5s;
        color: lightgray;
    }
}

.close-menu {
    display: block;
    animation: slide-menu-out 0.6s ease-out forwards;

    .container {
        display: none;
    }
}


// SHOW ABOUT


.about-overlay {
    width: calc(100% - 4em);
    height: calc(100vh - 4em);
    padding: 2em;
    position: absolute;
    background-color: #151553;
    transform: scaleX(0);
    transform-origin: right;
    display: none;
    color: lightgray;
}


.show-about {
    display: block;
    animation: slide-menu 0.7s ease-in forwards;

    .closeButton {
        animation: show-x 0.8s 0.6s forwards;
    }

    .container { 
        animation: fadeIn 4.5s;
        color: lightgray;
    }
}

.close-menu {
    display: block;
    animation: slide-menu-out 0.6s ease-out forwards;

    .container {
        animation: fadeOut 0.2s ease-out forwards
    }
}


// SHOW CONTACT

.contact-overlay {
    width: calc(100% - 4em);
    height: calc(100vh - 4em);
    padding: 2em;
    position: absolute;
    background-color: #151553;
    transform: scaleX(0);
    transform-origin: right;
    display: none;
    color: lightgray;
}


.show-contact {
    display: block;
    animation: slide-menu 0.7s ease-in forwards;

    .closeButton {
        animation: show-x 0.8s 0.6s forwards;
    }

    .container { 
        animation: fadeIn 4.5s;
        color: lightgray;
    }
}

.close-menu {
    display: block;
    animation: slide-menu-out 0.6s ease-out forwards;

    .container {
        animation: fadeOut 0.2s ease-out forwards
    }
}