@font-face {
    font-family: 'h1Font';
    src: url(/assets/Brazilian.ttf);
  }

  @font-face {
    font-family: 'h2Font';
    src: url(/assets/Abel-Regular.ttf);
  }

body {
    background-color: #1D2EC3;
    font-weight: normal;
    // background-image: url('/images/SecondStars.png'), url('/images/PortfolioBack4.png');
    background-size: cover;
    // background-repeat: no-repeat;
}

header {
    position: relative;
    text-align: center;
    
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 0;
    text-align: center;
    color: #F5F5F5;
    font-size: 2.2em;
    border: 0;
    padding-top: 1.5em;
    margin-bottom: 0.3em;
    font-style: normal;
    font-variant: normal;
}

.subTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
    margin-top: 1.5em;

    h2 {
        font-family: 'h2Font';
        font-weight: 100;
        font-style: normal;
        color: #FFEAB1;
        font-size: 1.6em;
        margin: 0em;
    }

    .menuSend {
        width: 2em;
        height: 2em;
        margin-top: 0em;
        margin-left: 0.3em;
        padding-left: 1em;
        cursor: pointer;
    }

    .menuSend:hover {
        animation-name: pulse;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }

    @keyframes pulse {
        0% {
            transform: scale(0.85);
        }
    
        70% {
            transform: scale(1.1);
        }
    
        100% {
            transform: scale(0.85);
        }
    }
}
}

// MENU


nav {
    width: calc(100% - 4em);
    height: calc(100vh - 4em);
    padding: 2em;
    position: absolute;
    background: #151553;
    transform: scaleX(0);
    transform-origin: right;
    display: none;

ul {
    list-style-type: none;
    margin: 10% auto 0 auto;
    padding: 0 1em 0 1em;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    width: 80%;
}

li {
    font-family: 'h2Font';
    opacity: 0;
    animation: show-x;
    text-align: center;
    padding: 0 1em 0 1em;
    line-height: 1.5;
}

a {
    font-size: 1.8em;
    color: white;
    text-decoration: none;
    }

span {
    color: lightgray;
    display: block;
    margin-top: 2em;
    font-family: 'h1Font';
    font-size: 1.7em;
    }
}

.closeButton {
    width: 20px;
    float: right;
    cursor: pointer;
    margin: 14px;
    opacity: 0;  
}

.show-menu {
    display: block;
    animation: slide-menu 0.5s ease-in forwards;

    .closeButton {
        animation: show-x 0.8s 0.6s forwards;
    }
    
    li:nth-of-type(1) {
        animation: menu-item-anim .6s forwards 1s ease-in-out;
    }

    li:nth-of-type(2) {
        animation: menu-item-anim .6s forwards 1.2s ease-in-out;
    }

    li:nth-of-type(3) {
        animation: menu-item-anim .6s forwards 1.4s ease-in-out;
    }

    li:nth-of-type(4) {
        animation: menu-item-anim .6s forwards 1.6s ease-in-out;
    }
}

@keyframes slide-menu {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);

    }
}

@keyframes show-x {
    from {
        opacity: 0;
    }

    to {
        opacity:1;
    }  
}

@keyframes menu-item-anim {
    from {
        transform: translateY(50%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}


// BACKROUND ANIMATIONs


.background {
    position: fixed;
    top:0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}


.back_no_light {
    background-image: url("../images/PortfolioBack4_nolights.png");
    }

.deepSky {
    background-image:  url("../images/deepSky.png");
    animation: waving-stars  2s ease-in-out infinite;
}

.stars{
    background-image:  url("../images/SecondStars.png");
    animation: waving-stars  6s ease-in-out infinite;
    }

.light_1 {
    background-image: url("../images/2YellowLights.png");
    animation: waving-light 40s infinite;
    }

.light_2 {
    background-image: url("../images/YellowLight+.png");
    animation: waving-light 30s infinite;
    animation-delay: 15s;
    }

.light_3 {
    background-image: url("../images/redLight.png");
    animation: waving-redlight  4s ease-in-out infinite;
    }

.reverb {
    background-image: url("../images/reverberes.png");
    animation: waving-reverb  1s ease-in-out infinite;
}

.orangeLight {
    background-image: url("../images/orangeLight.png");
    animation: waving-light  55s infinite;
}

.downLeftLight {
    background-image: url('../images/downLeftLight.png');
    animation: waving-orangelight 50s infinite;
}

.smallOrangeLight {
    background-image: url('../images/smallOrangeLight.png');
}


@keyframes waving-redlight {
    0% {
        opacity : 0.6;
    }

    20% {
        opacity: 0.7;
    }

    40% {
        opacity: 1;
    }

    65% {
        opacity: 1;
    }

    100% {
        opacity: 0.6;
    }

}

@keyframes waving-orangelight {
    0% {
        opacity : 0;
    }

    32% {
        opacity : 0;
    }

    33% {
        opacity: 1;
    }

    85% {
        opacity : 1;
    }

    86% {
        opacity : 0;
    }

    100% {
        opacity: 0;
    }

}

@keyframes waving-light {
    0% {
        opacity : 1;
    }

    21% {
        opacity: 1;
    }

    22% {
        opacity : 0;
    }

    65% {
        opacity : 0;
    }

    66% {
        opacity : 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes waving-stars {
    0% {
        opacity : 0.3;
    }

    45% {
        opacity: 1;
    }

    65% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}

@keyframes waving-deep {
    0% {
        opacity : 0.7;
    }

    35% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 0.7;
    }
}

@keyframes waving-reverb {
    0% {
        opacity : 0.4;
    }

    60% {
        opacity: 0.7;
    }

    100% {
        opacity: 0.4;
    }
}


