@font-face {
  font-family: 'h1Font';
  src: url(/assets/AnnieUseYourTelescope-Regular.ttf);
}

@font-face {
  font-family: 'h2Font';
  src: url(/assets/CaveatBrush-Regular.ttf);
}

body {
  background-color: #0c1aa3;
  font-weight: normal;
  background-size: cover;
}

h1 {
  font-family: 'h1Font';
  font-weight: 0;
  text-align: center;
  color: #F5F5F5;
  font-size: 2.7em;
  border: 0;
  padding-top: 1em;
  margin-bottom: 0.3em;
  font-style: normal;
  font-variant: normal;
}

h2 {
  font-family: 'h1Font';
  font-weight: 100;
  font-style: normal;
  text-transform: uppercase;
  color: #FFEAB1;
  font-size: 1.8em;
  margin: 0em;
  text-align: center;
}

.header {
  position: relative;
  text-align: center;
}

.header .subTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5em;
  margin-top: 1em;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.94);
            transform: scale(0.94);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.94);
            transform: scale(0.94);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.94);
            transform: scale(0.94);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.94);
            transform: scale(0.94);
  }
}

.hide-header {
  -webkit-animation: backOutUp;
          animation: backOutUp;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.show-header {
  -webkit-animation: fadeIn;
          animation: fadeIn;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  12% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  12% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

nav {
  width: calc(100% - 4em);
  height: calc(100vh - 4em);
  padding: 2em;
  position: absolute;
  background-image: url("../images/backOverlay.png");
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  display: none;
}

a {
  font-size: 2.4em;
  color: white;
  text-decoration: none;
}

@-webkit-keyframes pulse2 {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse2 {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

span {
  color: lightgray;
  display: block;
  margin-top: 2em;
  font-family: 'h1Font';
  font-size: 1.7em;
}

.closeButton {
  width: 20px;
  float: right;
  cursor: pointer;
  margin: 14px;
  opacity: 0;
}

.show-menu {
  display: block;
  -webkit-animation: slide-menu 0.7s ease-in forwards;
          animation: slide-menu 0.7s ease-in forwards;
}

.show-menu .closeButton {
  -webkit-animation: show-x 0.8s 0.6s forwards;
          animation: show-x 0.8s 0.6s forwards;
}

.show-menu li:nth-of-type(1) {
  -webkit-animation: menu-item-anim .6s forwards 1s ease-in-out;
          animation: menu-item-anim .6s forwards 1s ease-in-out;
}

.show-menu li:nth-of-type(2) {
  -webkit-animation: menu-item-anim .6s forwards 1.2s ease-in-out;
          animation: menu-item-anim .6s forwards 1.2s ease-in-out;
}

.show-menu li:nth-of-type(3) {
  -webkit-animation: menu-item-anim .6s forwards 1.4s ease-in-out;
          animation: menu-item-anim .6s forwards 1.4s ease-in-out;
}

.show-menu li:nth-of-type(4) {
  -webkit-animation: menu-item-anim .6s forwards 1.6s ease-in-out;
          animation: menu-item-anim .6s forwards 1.6s ease-in-out;
}

.close-menu {
  display: block;
  -webkit-animation: slide-menu-out 0.6s ease-out forwards;
          animation: slide-menu-out 0.6s ease-out forwards;
}

@-webkit-keyframes slide-menu {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes slide-menu {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes slide-menu-out {
  from {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  to {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes slide-menu-out {
  from {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  to {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@-webkit-keyframes show-x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show-x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes menu-item-anim {
  from {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes menu-item-anim {
  from {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

.background {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

.back_no_light {
  background-image: url("../images/PortfolioBack4_nolights.png");
}

.clouds {
  background-image: url("../images/Clouds.png");
  -webkit-animation: slideClouds;
          animation: slideClouds;
  -webkit-animation-duration: 43s;
          animation-duration: 43s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.backMask {
  background-image: url("../images/backMask.png");
}

.deepSky {
  background-image: url("../images/deepSky.png");
  -webkit-animation: waving-stars  2s ease-in-out infinite;
          animation: waving-stars  2s ease-in-out infinite;
}

.stars {
  background-image: url("../images/SecondStars.png");
  -webkit-animation: waving-stars  6s ease-in-out infinite;
          animation: waving-stars  6s ease-in-out infinite;
}

.light_1 {
  background-image: url("../images/2YellowLights.png");
  -webkit-animation: waving-light 41s infinite;
          animation: waving-light 41s infinite;
}

.light_2 {
  background-image: url("../images/YellowLight+.png");
  -webkit-animation: waving-light 32s infinite;
          animation: waving-light 32s infinite;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

.light_3 {
  background-image: url("../images/redLight.png");
  -webkit-animation: waving-redlight  4s ease-in-out infinite;
          animation: waving-redlight  4s ease-in-out infinite;
}

.reverb {
  background-image: url("../images/reverberes.png");
  -webkit-animation: waving-reverb  1s ease-in-out infinite;
          animation: waving-reverb  1s ease-in-out infinite;
}

.orangeLight {
  background-image: url("../images/orangeLight.png");
  -webkit-animation: waving-light  55s infinite;
          animation: waving-light  55s infinite;
}

.downLeftLight {
  background-image: url("../images/downLeftLight.png");
  -webkit-animation: waving-orangelight 47s infinite;
          animation: waving-orangelight 47s infinite;
}

.smallOrangeLight {
  background-image: url("../images/smallOrangeLight.png");
  -webkit-animation: waving-orangelight 47s infinite;
          animation: waving-orangelight 47s infinite;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

@-webkit-keyframes slideClouds {
  0% {
    right: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  33% {
    right: 5%;
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  75% {
    left: 1%;
    -webkit-transform: translateX(1%);
            transform: translateX(1%);
  }
  100% {
    right: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideClouds {
  0% {
    right: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  33% {
    right: 5%;
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  75% {
    left: 1%;
    -webkit-transform: translateX(1%);
            transform: translateX(1%);
  }
  100% {
    right: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes waving-redlight {
  0% {
    opacity: 0.6;
  }
  20% {
    opacity: 0.7;
  }
  40% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes waving-redlight {
  0% {
    opacity: 0.6;
  }
  20% {
    opacity: 0.7;
  }
  40% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

@-webkit-keyframes waving-orangelight {
  0% {
    opacity: 0;
  }
  32% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  86% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes waving-orangelight {
  0% {
    opacity: 0;
  }
  32% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  86% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes waving-light {
  0% {
    opacity: 1;
  }
  34% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes waving-light {
  0% {
    opacity: 1;
  }
  34% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes waving-stars {
  0% {
    opacity: 0.3;
  }
  45% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes waving-stars {
  0% {
    opacity: 0.3;
  }
  45% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

@-webkit-keyframes waving-deep {
  0% {
    opacity: 0.95;
  }
  35% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0.95;
  }
}

@keyframes waving-deep {
  0% {
    opacity: 0.95;
  }
  35% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0.95;
  }
}

@-webkit-keyframes waving-reverb {
  0% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes waving-reverb {
  0% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.4;
  }
}

.menu {
  padding-top: 0.5em;
  font-family: 'h1Font';
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1.9em;
  color: lightgrey;
}

.menu li {
  cursor: pointer;
  -webkit-animation: pulse 1.7s ease-in-out infinite;
          animation: pulse 1.7s ease-in-out infinite;
}

ul {
  text-align: center;
  margin: 0 auto 0 auto;
  padding: 0 1em 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
  width: 40%;
}

li {
  font-family: 'h1Font';
  -webkit-animation: show-x;
          animation: show-x;
  text-align: center;
  padding: 0 0.7em 0 0.7em;
  line-height: 1.5;
}

.work-overlay {
  width: calc(100% - 4em);
  height: calc(100vh - 4em);
  padding: 2em;
  position: absolute;
  background-color: none;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  display: none;
  color: lightgray;
}

.show-work {
  display: block;
  -webkit-animation: pulse 0.7s ease-in forwards;
          animation: pulse 0.7s ease-in forwards;
}

.show-work .container {
  -webkit-animation: fadeIn 2.5s;
          animation: fadeIn 2.5s;
}

.show-work .container ul {
  text-align: center;
  margin: 0 auto 0 auto;
  padding: 4em 1em 0 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
  width: 95%;
}

.show-work .container li {
  background-color: #151553;
  opacity: 0.95;
  margin: 1em;
  padding: 1.9em 1.5em;
  border-radius: 7px;
  border-color: lightgrey;
  border: 3px;
}

.show-work .closeButton {
  -webkit-animation: show-x 0.8s 0.6s forwards;
          animation: show-x 0.8s 0.6s forwards;
}

.show-work p {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1em;
  color: lightgray;
  text-align: center;
  font-size: 1.1em;
}

.close-menu {
  display: block;
  -webkit-animation: fadeOut 1.6s ease-out forwards;
          animation: fadeOut 1.6s ease-out forwards;
}

.close-menu .container {
  -webkit-animation: fadeOut 2s forwards;
          animation: fadeOut 2s forwards;
}

.code-logo {
  width: 5em;
  height: 5em;
  fill: lightgrey;
  margin-bottom: 1.6em;
  opacity: 0.9;
}

.design-logo {
  width: 5em;
  height: 5em;
  fill: lightgrey;
  margin-bottom: 1.6em;
  opacity: 0.9;
}

.paint-logo {
  width: 5em;
  height: 5em;
  fill: lightgrey;
  margin-bottom: 1.6em;
  opacity: 0.9;
}

.chess-logo {
  width: 5em;
  height: 5em;
  fill: lightgrey;
  margin-bottom: 1.6em;
  opacity: 0.9;
}

.portfolio-overlay {
  width: calc(100% - 4em);
  height: calc(100vh - 4em);
  padding: 2em;
  position: absolute;
  background-color: #151553;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  display: none;
  color: lightgray;
}

.show-portfolio {
  display: block;
  -webkit-animation: slide-menu 0.7s ease-in forwards;
          animation: slide-menu 0.7s ease-in forwards;
}

.show-portfolio .closeButton {
  -webkit-animation: show-x 0.8s 0.6s forwards;
          animation: show-x 0.8s 0.6s forwards;
}

.show-portfolio .container {
  -webkit-animation: fadeIn 4.5s;
          animation: fadeIn 4.5s;
  color: lightgray;
}

.close-menu {
  display: block;
  -webkit-animation: slide-menu-out 0.6s ease-out forwards;
          animation: slide-menu-out 0.6s ease-out forwards;
}

.close-menu .container {
  display: none;
}

.about-overlay {
  width: calc(100% - 4em);
  height: calc(100vh - 4em);
  padding: 2em;
  position: absolute;
  background-color: none;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  display: none;
  color: lightgray;
}

.about-overlay .container-about {
  background-color: #151553;
  margin-top: 5em;
  margin-left: 6em;
  width: 80%;
  border-radius: 5px;
}

.about-overlay p {
  padding: 1.5em;
}

.show-about {
  display: block;
  -webkit-animation: slide-menu 0.7s ease-in forwards;
          animation: slide-menu 0.7s ease-in forwards;
}

.show-about .closeButton {
  -webkit-animation: show-x 0.8s 0.6s forwards;
          animation: show-x 0.8s 0.6s forwards;
}

.show-about .container {
  -webkit-animation: fadeIn 3.5s;
          animation: fadeIn 3.5s;
  color: lightgray;
}

.cv-button {
  border: 3em;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.cv-button p {
  padding: 0.5em;
  font-size: 1.2em;
  border-radius: 5px;
  border: 1px;
  border-style: solid;
  font-family: 'h1Font';
  color: lightgrey;
  background-color: #151553;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  width: 20%;
}

.cv-button p:hover {
  background-color: lightgrey;
  color: #151553;
}

.close-menu {
  display: block;
  -webkit-animation: slide-menu-out 0.6s ease-out forwards;
          animation: slide-menu-out 0.6s ease-out forwards;
}

.close-menu .container {
  -webkit-animation: fadeOut 0.2s ease-out forwards;
          animation: fadeOut 0.2s ease-out forwards;
}

.contact-overlay {
  width: calc(100% - 4em);
  height: calc(100vh - 4em);
  padding: 2em;
  position: absolute;
  background-color: none;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  display: none;
  color: lightgray;
}

.contact-overlay .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.show-contact {
  display: block;
  -webkit-animation: pulse 0.7s ease-in forwards;
          animation: pulse 0.7s ease-in forwards;
}

.show-contact .closeButton {
  -webkit-animation: show-x 0.8s 0.6s forwards;
          animation: show-x 0.8s 0.6s forwards;
}

.show-contact .container {
  -webkit-animation: fadeIn 3.5s;
          animation: fadeIn 3.5s;
  color: lightgray;
}

.show-contact h1 {
  -webkit-animation: fadeIn 3s;
          animation: fadeIn 3s;
}

.close-menu {
  display: block;
  -webkit-animation: slide-menu-out 0.6s ease-out forwards;
          animation: slide-menu-out 0.6s ease-out forwards;
}

.close-menu .container {
  display: none;
}

.close-menu h1 {
  display: none;
}

.container-form {
  margin-top: 5em;
  margin-left: 6em;
  display: -ms-grid;
  display: grid;
  width: 30%;
  text-transform: uppercase;
}

.container-form label {
  margin-bottom: 0.5em;
}

.container-form input {
  margin-bottom: 1em;
}

.container-form textarea {
  margin-bottom: 1em;
}

.container-form #subject {
  height: 1.6em;
}

.container-form #message {
  height: 12em;
}

.container-form .submit-button {
  font-family: 'h1Font';
  font-size: 1.2em;
  height: 2em;
  margin-top: 0.8em;
  background-color: #151553;
  color: lightgrey;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  text-align: center;
  height: auto;
  padding: 0.8em 0;
}

.container-infos {
  background-color: #151553;
  border-radius: 2%;
  width: 50%;
  float: right;
  margin-left: 2em;
  margin-top: 5em;
}

.container-infos svg {
  width: 3em;
  height: 3em;
  fill: lightgrey;
  margin-top: 2.5em;
}

.container-infos ul {
  width: 80%;
  text-align: center;
}

.container-infos ul p {
  font-size: 1.1em;
}

.container-infos ul li {
  margin-top: 4em;
}

.container-infos .social {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5em;
}

.container-infos .social svg {
  margin: 0 2em;
  width: 4em;
  height: 4em;
}
/*# sourceMappingURL=main.css.map */