@font-face {
  font-family: 'h1Font';
  src: url(/assets/Brazilian.ttf);
}

@font-face {
  font-family: 'h2Font';
  src: url(/assets/RockSalt-Regular.ttf);
}

body {
  background-color: #1D2EC3;
  font-weight: normal;
  background-image: url("/images/SecondStars.png"), url("/images/PortfolioBack4.png");
  background-size: cover;
  background-repeat: no-repeat;
}

header h1 {
  font-family: 'h2Font';
  font-weight: 0;
  text-align: center;
  color: #F5F5F5;
  font-size: 2.2em;
  border: 0;
  padding-top: 1.5em;
  margin-bottom: 0.3em;
  font-style: normal;
  font-variant: normal;
}

header .subTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5em;
  margin-top: 1.5em;
}

header .subTitle h2 {
  font-family: 'h2Font';
  font-weight: 100;
  font-style: normal;
  color: #FFEAB1;
  font-size: 1.6em;
  margin: 0em;
}

header .subTitle .menuSend {
  width: 2em;
  height: 2em;
  margin-top: 0em;
  margin-left: 0.3em;
  padding-left: 1em;
  cursor: pointer;
}

header .subTitle .menuSend:hover {
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  70% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  70% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
}

nav {
  width: calc(100% - 4em);
  height: calc(100vh - 4em);
  padding: 2em;
  position: absolute;
  background: #151553;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  display: none;
}

nav ul {
  list-style-type: none;
  margin: 10% auto 0 auto;
  padding: 0 1em 0 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
  width: 80%;
}

nav li {
  font-family: 'h2Font';
  opacity: 0;
  -webkit-animation: show-x;
          animation: show-x;
  text-align: center;
  padding: 0 1em 0 1em;
  line-height: 1.5;
}

nav a {
  font-size: 1.8em;
  color: white;
  text-decoration: none;
}

nav span {
  color: lightgray;
  display: block;
  margin-top: 2em;
  font-family: 'h1Font';
  font-size: 1.7em;
}

.closeButton {
  width: 20px;
  float: right;
  cursor: pointer;
  margin: 14px;
  opacity: 0;
}

.show-menu {
  display: block;
  -webkit-animation: slide-menu 0.5s ease-in forwards;
          animation: slide-menu 0.5s ease-in forwards;
}

.show-menu .closeButton {
  -webkit-animation: show-x 0.8s 0.6s forwards;
          animation: show-x 0.8s 0.6s forwards;
}

.show-menu li:nth-of-type(1) {
  -webkit-animation: menu-item-anim .6s forwards 1s ease-in-out;
          animation: menu-item-anim .6s forwards 1s ease-in-out;
}

.show-menu li:nth-of-type(2) {
  -webkit-animation: menu-item-anim .6s forwards 1.2s ease-in-out;
          animation: menu-item-anim .6s forwards 1.2s ease-in-out;
}

.show-menu li:nth-of-type(3) {
  -webkit-animation: menu-item-anim .6s forwards 1.4s ease-in-out;
          animation: menu-item-anim .6s forwards 1.4s ease-in-out;
}

.show-menu li:nth-of-type(4) {
  -webkit-animation: menu-item-anim .6s forwards 1.6s ease-in-out;
          animation: menu-item-anim .6s forwards 1.6s ease-in-out;
}

@-webkit-keyframes slide-menu {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes slide-menu {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes show-x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show-x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes menu-item-anim {
  from {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes menu-item-anim {
  from {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */